arrow==0.16.0
asgiref==3.2.10
beautifulsoup4==4.9.1
bibtexparser==1.2.0
certifi==2020.6.20
chardet==3.0.4
Django==3.1.1
fake-useragent==0.1.11
free-proxy==1.0.1
future==0.18.2
idna==2.10
lxml==4.5.2
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
scholarly==0.4.2
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
stem==1.8.0
urllib3==1.25.10
